* {

  font-family: ariel;
}
body {
background-color: yellow;
  max-width: 90%;
  margin: 0 auto;
}
 h1 {
color: red;
background-color: yellow;
text-shadow: #969696 1px 3px 0, #aba8a8 1px 13px 5px;
}
div {
  float: left;
  width: 26%;
  margin: 2%;
  padding: 3%;
  border: 4px solid red;
}
div h2 {
  text-align: center;
	 font-family: ariel;
}
header {
  text-align: center;
}
h1 {
  font-size: 60px;
  margin-bottom: 0;
		font-family: ariel;
}
h4 {
  font-family: ariel;
  font-size: 25px;
  color: grey;
  margin-top: 0;
  padding: 0;
}
ul {
  list-style: none;
}
li:last-of-type {
  border-top: 1px solid black;
}
table {
  table-layout: fixed;
  display: inline-table;
  width: 100%;
}
td {
  border-right: 3px solid black;
  border-top: 3px solid black;
}
td:last-child, th:last-child {
  border-right: none;
}
th {
  transform: rotate(0deg);
  font-size: 20px;
}
th:last-child {
  transform: rotate(0deg);
}
table, table * {
  text-align: right;
  padding: 5px;
  max-width: 100%;
}
table tr td: first-child {
  text-align: left;
  width: 100px;
}
main {
  width: 100%;
}
section {
  margin: 5% 0%;
}
form div {
  width: auto;
  border: none;
  margin: 0;
  padding: 1%;
}
fieldset {
  margin: 0;

}
legend {
  font-size: 45px;
	font-family: ariel;
}


tfoot {
  background-color: white;
}
button {
    border: 3px;
    text-align: center;
    margin-right: 20px;
    float: center;
    font-weight: normal;
    width: 150px;
    font-size: 25px;
}
.button {
    border-radius: 100px;
    background-color: red;
    color: yellow;

}

.button:active {
    background: black;
    border-bottom: 5px;
    border-right: 5px;
    margin-top: 5px;
    margin-right: 40px;
}
